* {
  font-family: "Roboto", sans-serif;
  background: #1d1d1d;
  color: #fff;
  list-style: none;
}
.dark-color {
  background: #1d1d1d;
}
.border-style {
  /* border-color: #616161; */
  border: 1px solid #616161;
}
